:root {
    --body-color:black;
    --background-color:#1F1F1F;
    --stroke-color: #B3B3B3;
    --hover-color:#fff;
    --spotify-green:#1DB954;
    --hover-color1:#535353;
    --hover-color2:#b3b3b3;
}