/*---------maincontent middle sectie---------*/


.maincontent {
	border-radius: 5px 5px 0 0;

	padding: 0px 20px;
	position: fixed;
	top: 4.07em;
	left: 5.5em;
	bottom: 5.2em;


	background-color: var(--background-color);
	overflow-y: auto;
	max-height: 100vh;
}

@media (min-width:600px) {
	.maincontent {
		border-radius: 5px 5px 0 0;

		padding: 0px 20px;
		position: fixed;
		top: 4.07em;
		left: 5.5em;
		right: 17.5em;
		bottom: 5.2em;

		background-color: var(--background-color);
		overflow-y: auto;
		max-height: 100vh;
	}

}

.maincontent-nav nav ul {

	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: .5em 0;
	padding: 0;
}

.maincontent-nav nav ul li:hover {
	background-color: var(--hover-color2);
}

.maincontent-nav nav ul li {
	color: #fff;
	display: flex;
	align-items: center;
	margin: .2em;
	padding: .5em .6em;
	border-radius: 3em;
	background-color: var(--hover-color1);

}



.maincontent-music ul {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr;
	gap: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.maincontent-music ul li {
	display: grid;


	grid-template-columns: 0.5fr 1fr 0.5fr;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 48px;

	border-radius: 5px;

	background-color: var(--hover-color1);

}



.buttonmain {

	padding: 0;
	border: 0;
	background: transparent;
	box-sizing: border-box;
	width: 0;
	height: 18px;

	border-color: transparent transparent transparent #202020;
	transition: 100ms all ease;
	cursor: pointer;

	/* Play state */
	border-style: solid;
	border-width: 8px 0 8px 18px;
}

.buttonmain.playing {
	border-style: double;
	border-width: 0px 0 0px 18px;
	border-color: #202020;
}

.buttonmain:hover {
	border-color: transparent transparent transparent #404040;
}

.playbuttonmain {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.playbuttonmain:hover {

	opacity: 1;
}



.circlemain {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	width: 40px;
	border-radius: 50%;
	background-color: var(--spotify-green);
	position: relative;
}





.maincontent-music ul li:hover {
	background-color: var(--hover-color2);
}

.maincontent-music ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0;
	border: 0;

}

.maincontent-music ul li a:nth-of-type(2) h3 {
	margin: 0;
}

.maincontent ul li img {

	display: block;
	height: 48px;
	width: 48px;
	border-radius: 5px 0 0 5px;
}

@media (min-width:600px) {
	.maincontent-music ul {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (min-width:900px) {
	.maincontent-music ul {
		grid-template-columns: repeat(4, 1fr);
	}

}









.maincontent::-webkit-scrollbar {
	width: 6px;


	/* Thin scrollbar */

}

.maincontent::-webkit-scrollbar-track {
	background: none;
	/* Invisible or minimal track */
}

.maincontent::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.4);
	/* Light semi-transparent thumb */
	border-radius: 10px;

	/* Rounded edges for the thumb */
}

.maincontent::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.7);
	/* Brighter thumb on hover */
}






/* .made-for-you-list ul li {
	display:grid;
	
	grid-template-rows:auto auto auto;
	grid-template-areas:
		"cover  ",
		"titel  ",
		"artiest";
	
	
}

.made-for-you-list ul  li h3 {
	grid-area:titel;
}

.made-for-you-list ul li p {
	grid-area:artiest;
}

.made-for-you-list ul li img {
	display:block;
	grid-area:cover;
	width:100px;
	height: 100px;

}

.made-for-you-list ul li button {
	display:block;
	grid-area:cover;
	
	justify-self:end;
	align-self:end;
	margin:1em;
	
	border-radius:50%;
	aspect-ratio:1/1;
	
	opacity:0;
	
	transition:
		opacity .25s,
		translate .5s;
	
	translate:0 .5em;
}

.made-for-you-list ul li :hover button {
	opacity:1;
	translate:0 0;
} */